#root {
    width: auto;
    font-family: "Poppins", sans-serif;
}

.background {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 100% !important;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
}

.single-form {
    width: 60%;
}

@media screen and (min-width: 750px) {
     .div-form {
        padding-right: 3rem !important;
    }

    .div-img {
        padding-left: 3rem !important;
    }
}

.content-view {
    padding: 3rem !important;
}

h1, h2, h3 {
    font-weight: bold !important;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    box-shadow: 0 4px 12px rgb(0 0 0 / 22%);
    transition: box-shadow 0.3s ease;
    margin: 1rem 0 1rem 0;
}
  
.btn-link {
    color: #C70039;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.btn-link:hover {
    color: #C70039;
}

.btn-link::after,
.btn-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #c7003865, #C70039);
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.btn-link::before {
    top: -3px;
    transform-origin: left;
}

.btn-link:hover::after,
.btn-link:hover::before {
    transform: scaleX(1);
}

